#sidebar
  h1 
    span Barry
    svg(
      xmlns="http://www.w3.org/2000/svg",
      viewBox="0 0 20 20",
      fill="currentColor"
    )
      path(
        fill-rule="evenodd",
        d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z",
        clip-rule="evenodd"
      )

  include welcome

  .h3
    span
      svg.h-6.w-6(
        xmlns="http://www.w3.org/2000/svg",
        fill="none",
        viewBox="0 0 24 24",
        stroke="currentColor"
      )
        path(
          stroke-linecap="round",
          stroke-linejoin="round",
          stroke-width="2",
          d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
        )
      h3 Configuration
      a#reduceConfiguration(href="javascript:window.$barry.toggleConfiguration();")
        svg(
          xmlns="http://www.w3.org/2000/svg",
          viewBox="0 0 20 20",
          fill="currentColor"
        )
          path(
            fill-rule="evenodd",
            d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z",
            clip-rule="evenodd"
          )
      a#augmentConfiguration.hide(href="javascript:window.$barry.toggleConfiguration();")
        svg(
          xmlns="http://www.w3.org/2000/svg",
          viewBox="0 0 20 20",
          fill="currentColor"
        )
          path(
            fill-rule="evenodd",
            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z",
            clip-rule="evenodd"
          )
    #configuration
      .form
        label Calcul du mi-chemin en :
        span temps
        .toggle
          input#toggleCalcMode(
            type="checkbox",
            onchange="window.$barry.changeCalcMode();"
          )
          label(for="toggleCalcMode")
        span distance
      .form 
        label Mode de transport :
        span voiture
        .toggle
          input#toggleCalcTransport(
            type="checkbox",
            onchange="window.$barry.changeCalcTransport();"
          )
          label(for="toggleCalcTransport")
        span piéton
      .form 
        label Autoriser les péages :
        span oui
        .toggle
          input#toggleCalcToll(
            type="checkbox",
            onchange="window.$barry.changeCalcToll();"
          )
          label(for="toggleCalcToll")
        span non

  .h3
    span
      svg(
        xmlns="http://www.w3.org/2000/svg",
        fill="none",
        viewBox="0 0 24 24",
        stroke="currentColor"
      )
        path(
          stroke-linecap="round",
          stroke-linejoin="round",
          stroke-width="2",
          d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7"
        )
      h3 Ajouter des adresses/villes

  #addresses
    #addresses-wrapper
    button#calculate.hide(onclick="window.$barry.calculate()") 
      svg#spinner.hide(
        xmlns="http://www.w3.org/2000/svg",
        fill="none",
        viewBox="0 0 24 24"
      )
        circle(
          cx="12",
          cy="12",
          r="10",
          stroke="currentColor",
          stroke-width="4"
        )
        path(
          fill="currentColor",
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        )
      span Calculer le point de rencontre
  
  #rappel 
    svg(xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor")
      path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z")
    span Pour le moment le calcul ne fonctionne qu'en France.

  #log.hide
    .form
      label Niveau de réponse :
      span simplifié
      .toggle
        input#toggleLogMode(
          type="checkbox",
          onchange="window.$barry.changeLogMode();"
        )
        label(for="toggleLogMode")
      span détaillé
    #log-content

  button#newsearch.hide(onclick="window.$barry.newSearch()") Nouvelle recherche
