#sidebar
  h1 
    span Barry
    svg(
      xmlns="http://www.w3.org/2000/svg",
      viewBox="0 0 20 20",
      fill="currentColor"
    )
      path(
        fill-rule="evenodd",
        d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z",
        clip-rule="evenodd"
      )

  include welcome

  h2
    svg(
      xmlns="http://www.w3.org/2000/svg",
      fill="none",
      viewBox="0 0 24 24",
      stroke="currentColor"
    )
      path(
        stroke-linecap="round",
        stroke-linejoin="round",
        stroke-width="2",
        d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7"
      )
    span Ajouter des adresses/villes

  #addresses
    #addresses-wrapper
    button#calculate.hide(onclick="window.$barry.calculate()") 
      svg#spinner.hide(
        xmlns="http://www.w3.org/2000/svg",
        fill="none",
        viewBox="0 0 24 24"
      )
        circle(
          cx="12",
          cy="12",
          r="10",
          stroke="currentColor",
          stroke-width="4"
        )
        path(
          fill="currentColor",
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        )
      span Calculer le point de rencontre

  #log.hide

  button#newsearch.hide(onclick="window.$barry.newSearch()") Nouvelle recherche
